*
{
    margin: 0px;
    padding: 0px;

}

body
{
    background: #eff0f4;
}

.header
{
    background: #5fc0cd;
}

.header-body
{
    height: 88px;
    width: 95%;
    position: relative;
    margin: 0px auto;
}

.header-text-left,.header-text-right,.header-text-center
{
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top:0px;
    width: 100%;
    height: 88px;
    line-height: 88px;
}

.header-text-left
{
    text-align: left;
}
.header-text-right
{
    text-align: right;
}

.header-text-center
{
    font-size:2.25rem;
    text-align: center;
}

.master,.password
{
    height:100px;
    width:100%;
    background: #fff;
    margin: 20px 0;
    position: relative;
}

.master .image,.password .image
{
    margin: 28px 40px;
    float: left;
    width: 29px;
    height: 44px;
}

.master .text,.password .text
{
    position: absolute;
    top:24px;
    border: 0px;
    border-left: 1px solid #ccc;
    padding-left: 25px;
    height: 52px;
    font-size: 2rem;
    outline: none;
}



.landBt
{
    height:100px;
    width:100%;
    background: #5fc0cd;
    margin-top: 70px;

}

.landBt p
{
    color: #fff;
    font-size: 2.25rem;
    line-height: 100px;
    text-align: center;
}

.forgot_password
{
    margin: 20px 0px;
}

.forgot_password p
{
    color: #5fc0cd;
    font-size: 2rem;
    text-align: right;
    width: 95%;
    margin: 0 auto;
}
