*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background:#68cdd5;
    font-size:16px;
    width: 100%;
    margin: 0 auto;
}



.back
{
    margin: 20px 20px;
}

.logo
{
    margin: 5vh auto;
}

.logo img
{
    display: block;
    margin: 0 auto;
}

.main_text
{
    width: 80%;
    margin: 10vh auto;
}

.main_text p
{

    font-size: 2rem;
    text-align: center;
    color: #fff;

}

.minImage_left
{
    float: left;
}

.minImage_right
{
    float: right;
}

.minImage_left,.minImage_right
{
    margin: 10vh auto;
}

.minImage
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.minImage p
{

    font-size:1.5rem;
    font-weight: bold;
    color: #fff;
    display: block;
}

.minImage img
{

    display: block;
    margin: 0 auto;
}